<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd"
		>
	
	<!-- 构造函数实例化，set注入 -->
	<bean id="commonBean1" class="com.zby.bean.CommonBean">
		<property name="userName" value="no arguments constructor"></property>
	</bean>
	
	<!-- 构造函数注入 -->
	<bean id="commonBean2" class="com.zby.bean.CommonBean">
		<constructor-arg index="0" name="userName" value="arguments constructor"></constructor-arg>
	</bean>
	
	<!-- 静态工厂实例化 -->
	<bean id="commonBean3" class="com.zby.factory.StaticFactory" factory-method="getCommonBean"></bean>
	
	<!-- 实例工厂实例化 -->
	<bean id="instanceFactory" class="com.zby.factory.InstanceFactory"></bean>
	<bean id="commonBean4" factory-bean="instanceFactory" factory-method="getCommonBean"></bean>
</beans>
